.footer {
    background: #141414;
    width: 100%;
    color: white;
    display: grid;
}

.footer-top {
    margin-top: 20px;
    text-align: center;
}

.footer-top form input[type=text] {
    border-radius: 20px;
    padding: 16px;
    border: none;
    width: 300px;
    border: 5px thin #ff6600;
}

.footer-top form button[type=submit] {
    background-color: #ff6600;
    color: white;
    padding: 17px;
    margin-left: -20px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footer-credits {
    margin-top: 50px;
    text-align: center;
}

@media (max-width: 600px) {
    .footer-top {
        width: 100%;
    }
    .footer-top form {
        width: 100%;
    }
}