.footer {
    background: #141414;
    width: 100%;
    color: white;
}

input[type=text] {
    border-radius: 20px;
}

button[type=subsmit] {
    background-color: #ff6600;
    color: white;
    padding: 5px 10px;
}