@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Poppins:wght@300&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
}

.heading-primary, .text-primary {
  font-family: 'Arvo', serif;
}

.heading-secondary, .text-secondary {
  font-family: 'Poppins', sans-serif;
}

h1.heading-primary, h1.heading-secondary {
  font-size: 52px;
}

h2.heading-primary, h2.heading-secondary {
  font-size: 52px;
}

h3.heading-primary, h3.heading-secondary {
  font-size: 52px;
}

h4.heading-primary, h4.heading-secondary {
  font-size: 52px;
}