.article {
    display: flex;
}

.grid-container {
    display: grid;
    width: 50px;
    grid-template-rows: auto auto auto;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
    margin: 10px;
}

button {
    float: left;
    padding: 5px;
}

button:hover {
    background-color: #2e2d2c;
    color: white;
}